<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2">
            <section class="heading">
				<div class="row">
					<div class="col-sm-12">
						<h1 class="small-h1">Logg inn</h1>
					</div>
					<div class="col-sm-12">
						<span class="separator-lg"></span>
					</div>
				</div>
			</section>
            <hr>
            <form action="?" method="post" name="f">
                <div class="form-group">
                    <label for="username">Brukernavn</label>
                    <input class="form-control" id="username" name="username" tabindex="1" type="text" value="">
                </div>
                <div class="form-group">
                    <label for="password">Passord</label>
                    <input class="form-control" id="password" name="password" tabindex="2" type="password" value="">
                </div>
                <button class="btn btn-success" tabindex="3" type="submit">Logg inn</button>
                <input name="AuthState" type="hidden" value="_ccb6b2d825f149cb11f38d97cbd41cdcb8ab33008a:https://idp.statkart.no/simplesaml/saml2/idp/SSOService.php?spentityid=https%3A%2F%2Fkartkatalog.geonorge.no&amp;cookieTime=1458550936">
	        </form>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
	        <article>
	            <h3>BAAT logg inn</h3>
	            <p>En tjeneste har bedt om bekreftelse på din identitet. Skriv inn ditt BAAT brukernavn og passord for å autentisere deg.</p>
	            <h3>Glemt passord</h3>
	            <p>Kontakt Norge digitalt-sekretariatet for å få hjelp til å endre passordet. Send epost til: <a href="mailto:post@norgedigitalt.no?subject=Hjelp til passordbytte for BAAT">post@norgedigitalt.no</a></p>
	        </article>
        </div>
    </div>
</div>